
<div class="container">
    <app-menu></app-menu>
  </div>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        
        <img src="https://www.despachantemarcelino.com.br/wp-content/uploads/2020/06/auto-1291491_1280-1024x768-1.jpg"  height="700"  class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://1.bp.blogspot.com/-TBKw4DLKeog/YOWeXppbnTI/AAAAAAAAzHw/Du5LUqm4tIAYejAUP4nNinb7OuiRXYhCACLcBGAsYHQ/s2048/Lamborghini-Aventador-Ultimae%2B%252814%2529.JPG" height="700"  class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://s2.glbimg.com/696ERWCyatXm05gl4kz3WwS8dyw=/350x432:3676x2441/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2020/z/H/imcEazSGS8YRA48lJ6oA/03-ducati-superleggera-v4-uc145950-mid.jpg" height="700" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  
  
  <div class="container bg-success">
    <router-outlet></router-outlet>
  </div>
  